.background {
  viewport-fill: black;
}

.fillable {
  fill: white;
}

.icon {
  width: 48;
  height: 48;
}

.icon_label {
  font-family: System-Bold;
  font-size: 24;
  text-anchor: middle;
  text-length: 60;
}

.icon_duration {
  font-family: System-Bold;
  font-size: 15;
  text-anchor: middle;
  text-length: 60;
  display: inline;
}

#time_label {
  font-size: 100;
  font-family: System-Bold;
  text-length: 60;
  text-anchor: middle;
  x: 50%;
  y: 50%;
}

#heart_rate_icon {
  x: 25.5;
  y: 1%;
}

#heart_rate {
  x: 16.5%; 
  y: 50%;
}

#heart_rate_duration {
  x: 16.5%;
  y: 65%;
}

#steps_icon {
  x: 33%+27;
  y: 1%;
}

#steps {
  x: 50%;
  y: 50%;
}

#cgm_reading {
  x: 83.5%;
  y: 50%;
}

#cgm_direction {
  x: 67%+16.6;
  y: 1%;
}

#cgm_duration {
  x: 83.5%;
  y: 65%;
}

#battery_level {
  width: 30;
  height: 16;
}